<app-navbar></app-navbar>
<div class="wrapper">
  <nav id="sidebar">
    <app-sidebar></app-sidebar>
  </nav>
  <div id="content">
    <div class="container-fluid">
      <!-- summary cards -->
      <div class="col">
        <div *ngFor="let component of area">
          <div *ngIf="component.idArea == this.idArea">
            <div *ngFor="let machine of component.machines" style="margin: 15px;">
              <div class="card card-body">
                <h4 class="card-title">
                  {{machine.name}}<span style="margin-left: 15px" class="badge badge-secondary">{{machine.sensors.length}} sensori attivi</span>
                </h4>
                <div *ngFor="let sensor of machine.sensors" style="margin: 5px;">
                  <div>
                    <p>
                      {{sensor.name}}
                    </p>
                    <div class="row">
                      <div class="col">
                        <table class="table table-striped table-sm" style="width: 100%;">
                          <thead>
                          <tr>
                            <th>#</th>
                            <th>code</th>
                            <th>name</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>{{sensor.id}}</td>
                            <td>machine {{machine.code}}</td>
                            <td>{{sensor.name}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
