<app-navbar></app-navbar>
<div class="wrapper">
  <nav id="sidebar">
    <app-sidebar></app-sidebar>
  </nav>
  <div id="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <div class="card shadow cardcss">
            <h5 class="card-header">Prelavaggio
              <button type="button" class="btn btn-info col-4 offset-8" [routerLink]="['./details']">Dettagli</button>
            </h5>
            <div class="container-fluid">
              <div class="card cardcss">
                <div class="row">
                  <div class="col">
                    <app-pie-chart></app-pie-chart>
                  </div>
                  <div class="col">
                    <div class="card cardcss">
                      <h5 class="card-header">Media Consumo Elettrico</h5>
                      <div class="card">
                        <div class="card-body">
                          <p class="card-title"></p>
                          <div class="row">
                            <div class="col">
                              <h4 class="card-text">
                                <span class="badge badge-success">Valore</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card cardcss">
                      <h5 class="card-header">Uptime</h5>
                      <div class="card">
                        <div class="card-body">
                          <p class="card-title"></p>
                          <div class="row">
                            <div class="col">
                              <h4 class="card-text">
                                <span class="badge badge-success">Valore</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card cardcss">
                    <app-bar-chart></app-bar-chart>
                  </div>
                </div>
                <div class="col">
                  <div class="card cardcss">
                    <h5 class="card-header">Valore min/max livello acqua</h5>
                    <div class="card">
                      <div class="card-body">
                        <p class="card-title"></p>
                        <div class="row">
                          <div class="col">
                            <h4 class="card-text">
                              <span class="badge badge-success">Min 12</span>
                            </h4>
                          </div>
                          <div class="col">
                            <h4 class="card-text">
                              <span class="badge badge-danger">Max 99</span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card cardcss">
                    <h5 class="card-header">Contatore Acqua</h5>
                    <div class="card">
                      <div class="card-body">
                        <p class="card-title"></p>
                        <div class="row">
                          <div class="col">
                            <h4 class="card-text">
                              <span class="badge badge-success">Valore</span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card shadow cardcss">
            <h5 class="card-header">Lavaggio
              <button type="button" class="btn btn-info col-4 offset-8">Dettagli</button>
            </h5>
            <div class="container-fluid">
              <div class="card cardcss">
                <div class="row">
                  <div class="col">
                    <app-pie-chart></app-pie-chart>
                  </div>
                  <div class="col">
                    <div class="card cardcss">
                      <h5 class="card-header">Media Consumo Elettrico</h5>
                      <div class="card">
                        <div class="card-body">
                          <p class="card-title"></p>
                          <div class="row">
                            <div class="col">
                              <h4 class="card-text">
                                <span class="badge badge-success">Valore</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card cardcss">
                      <h5 class="card-header">Uptime</h5>
                      <div class="card">
                        <div class="card-body">
                          <p class="card-title"></p>
                          <div class="row">
                            <div class="col">
                              <h4 class="card-text">
                                <span class="badge badge-success">Valore</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card cardcss">
                    <app-bar-chart></app-bar-chart>
                  </div>
                </div>
                <div class="col">
                  <div class="card cardcss">
                    <h5 class="card-header">Valore min/max livello acqua</h5>
                    <div class="card">
                      <div class="card-body">
                        <p class="card-title"></p>
                        <div class="row">
                          <div class="col">
                            <h4 class="card-text">
                              <span class="badge badge-success">Min 12</span>
                            </h4>
                          </div>
                          <div class="col">
                            <h4 class="card-text">
                              <span class="badge badge-danger">Max 99</span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card cardcss">
                    <h5 class="card-header">Contatore Acqua</h5>
                    <div class="card">
                      <div class="card-body">
                        <p class="card-title"></p>
                        <div class="row">
                          <div class="col">
                            <h4 class="card-text">
                              <span class="badge badge-success">Valore</span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card shadow cardcss">
            <h5 class="card-header">Asciugatura
              <button type="button" class="btn btn-info col-4 offset-8">Dettagli</button>
            </h5>
            <div class="container-fluid">
              <div class="card cardcss">
                <div class="row">
                  <div class="col">
                    <app-pie-chart></app-pie-chart>
                  </div>
                  <div class="col">
                    <div class="card cardcss">
                      <h5 class="card-header">Media Consumo Elettrico</h5>
                      <div class="card">
                        <div class="card-body">
                          <p class="card-title"></p>
                          <div class="row">
                            <div class="col">
                              <h4 class="card-text">
                                <span class="badge badge-success">Valore</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card cardcss">
                      <h5 class="card-header">Uptime</h5>
                      <div class="card">
                        <div class="card-body">
                          <p class="card-title"></p>
                          <div class="row">
                            <div class="col">
                              <h4 class="card-text">
                                <span class="badge badge-success">Valore</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card cardcss">
                    <app-bar-chart></app-bar-chart>
                  </div>
                </div>
                <div class="col">
                  <div class="card cardcss">
                    <h5 class="card-header">% Umidità</h5>
                    <div class="card">
                      <div class="card-body">
                        <p class="card-title"></p>
                        <div class="row">
                          <div class="col">
                            <h4 class="card-text">
                              <span class="badge badge-success">Valore</span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card cardcss">
                    <h5 class="card-header">Contatore Acqua</h5>
                    <div class="card">
                      <div class="card-body">
                        <p class="card-title"></p>
                        <div class="row">
                          <div class="col">
                            <h4 class="card-text">
                              <span class="badge badge-success">Valore</span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
