<div class="sidebar-header" style="align-content: center">
  <img class="form-control" [src]="loggedUser.profileImg"
       style="margin-bottom: 2px; border-radius: 100%; height: 200px ">
  <h3 style="margin-top:20px; text-align: center">{{loggedUser.name}} {{loggedUser.surname}}</h3>
  <p style="text-align: center">{{grade}}</p>
</div>

<ul class="list-unstyled components">
  <!-- dashboard homepage -->
  <li [routerLinkActive]="['active']">
    <a routerLink="/dashboard">
      <i class="material-icons">
        dashboard
      </i> Home
    </a>
  </li>

  <!-- list of all machine -->
  <li [routerLinkActive]="['active']">
    <a data-toggle="collapse" class="dropdown-toggle" aria-labelledby="headingOne">
      <i class="material-icons">
        list
      </i>
      List of machines
    </a>
    <ul class="collapse show list-unstyled" id="pageSubmenu">
      <li *ngFor="let item of areaList">
        <a routerLink="/area/{{item.id}}"><i class="material-icons">
          keyboard_arrow_right
        </i>{{item.name}}</a>
      </li>
    </ul>
  </li>

  <!-- enter in settings -->
  <li [routerLinkActive]="['active']">
    <a routerLink="/setting"><i class="material-icons">
      settings
    </i> Settings
    </a>
  </li>

</ul>

<ul class="list-unstyled CTAs">
  <li>
    <a routerLink="/about" class="btn btn-outline-info">About</a>
    <br>
    <a data-toggle="modal" data-target="#logoutmodal" class="btn btn-outline-danger"><i class="material-icons">
        settings_power
      </i> Logout</a>
  </li>
</ul>

<!-- Modal -->
<div class="modal fade" id="logoutmodal" tabindex="-1" role="dialog" aria-labelledby="logoutmodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:Red" id="logoutmodalLabel">Log Out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color:black">
        Disconnettersi dall'account ?
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/dashboard" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
        <button type="button" routerLink="/logout" class="btn btn-danger" (click)="refresh()">Log Out</button>
      </div>
    </div>
  </div>
</div>
