<div class="sidebar-header">
  <h1>Pied Piper</h1>
</div>
<ul class="list-unstyled components">
  <!-- dashboard homepage -->
  <li [routerLinkActive]="['active']">
    <a routerLink="/dashboard">
      <i class="material-icons">
        dashboard
      </i> Home
    </a>
  </li>

  <!-- list of all machine -->
  <li [routerLinkActive]="['active']">
    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
      <i class="material-icons">
        list
      </i>
      List of machines
    </a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
      <li>
        <a href="#">Area 1</a>
      </li>
      <li>
        <a href="#">Area 2</a>
      </li>
      <li>
        <a href="#">Area 3</a>
      </li>
    </ul>
  </li>

  <!-- enter in settings -->
  <li [routerLinkActive]="['active']">
    <a routerLink="/setting"><i class="material-icons">
      settings
    </i> Setting
    </a>
  </li>


</ul>

<ul class="list-unstyled CTAs">
  <li>
    <a routerLink="/about" class="btn btn-outline-info">About</a>
  </li>
</ul>
