<!--Sezione Lavaggio-->
<div *ngIf="this.paramId == 1">
  <div class="row">
    <div class="col-sm">
      <div class="card shadow cardcss">
        <h5 class="card-header">Prelavaggio
          <button type="button" class="btn btn-info col-4 offset-8 disabled">Dettagli</button>
        </h5>
        <div class="container-fluid">
          <div class="card cardcss">
            <div class="row">
              <div class="col">
                <google-chart [data] = "gaugeChartData_One"></google-chart>
              </div>
              <div class="col">
                <div class="card cardcss">
                  <h5 class="card-header">Media Consumo Elettrico</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card cardcss">
                  <h5 class="card-header">Uptime</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card cardcss">
                <google-chart [data] = "columnChartData_One"></google-chart>
              </div>
            </div>
            <div class="col">
              <div class="card cardcss">
                <h5 class="card-header">Valore min/max livello acqua</h5>
                <div class="card">
                  <div class="card-body">
                    <p class="card-title"></p>
                    <div class="row">
                      <div class="col">
                        <h4 class="card-text">
                          <span class="badge badge-success">Min 12</span>
                        </h4>
                      </div>
                      <div class="col">
                        <h4 class="card-text">
                          <span class="badge badge-danger">Max 99</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardcss">
                <h5 class="card-header">Contatore Acqua</h5>
                <div class="card">
                  <div class="card-body">
                    <p class="card-title"></p>
                    <div class="row">
                      <div class="col">
                        <h4 class="card-text">
                          <span class="badge badge-success">Valore</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card shadow cardcss">
        <h5 class="card-header">Lavaggio
          <button type="button" class="btn btn-info col-4 offset-8 disabled">Dettagli</button>
        </h5>
        <div class="container-fluid">
          <div class="card cardcss">
            <div class="row">
              <div class="col">
                  <google-chart [data] = "gaugeChartData_Two"></google-chart>                 
              </div>
              <div class="col">
                <div class="card cardcss">
                  <h5 class="card-header">Media Consumo Elettrico</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card cardcss">
                  <h5 class="card-header">Uptime</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card cardcss">
                <google-chart [data] = "columnChartData_Two"></google-chart>
              </div>
            </div>
            <div class="col">
              <div class="card cardcss">
                <h5 class="card-header">Valore min/max livello acqua</h5>
                <div class="card">
                  <div class="card-body">
                    <p class="card-title"></p>
                    <div class="row">
                      <div class="col">
                        <h4 class="card-text">
                          <span class="badge badge-success">Min 12</span>
                        </h4>
                      </div>
                      <div class="col">
                        <h4 class="card-text">
                          <span class="badge badge-danger">Max 99</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardcss">
                <h5 class="card-header">Contatore Acqua</h5>
                <div class="card">
                  <div class="card-body">
                    <p class="card-title"></p>
                    <div class="row">
                      <div class="col">
                        <h4 class="card-text">
                          <span class="badge badge-success">Valore</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card shadow cardcss">
        <h5 class="card-header">Asciugatura
          <button type="button" class="btn btn-info col-4 offset-8 disabled">Dettagli</button>
        </h5>
        <div class="container-fluid">
          <div class="card cardcss">
            <div class="row">
              <div class="col">
                  <google-chart [data] = "gaugeChartData_Three"></google-chart>
                
              </div>
              <div class="col">
                <div class="card cardcss">
                  <h5 class="card-header">Media Consumo Elettrico</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card cardcss">
                  <h5 class="card-header">Uptime</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card cardcss">
                <google-chart [data] = "columnChartData_Three"></google-chart>
              </div>
            </div>
            <div class="col">
              <div class="card cardcss">
                <h5 class="card-header">% Umidità</h5>
                <div class="card">
                  <div class="card-body">
                    <p class="card-title"></p>
                    <div class="row">
                      <div class="col">
                        <h4 class="card-text">
                          <span class="badge badge-success">Valore</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardcss">
                <h5 class="card-header">Contatore Acqua</h5>
                <div class="card">
                  <div class="card-body">
                    <p class="card-title"></p>
                    <div class="row">
                      <div class="col">
                        <h4 class="card-text">
                          <span class="badge badge-success">Valore</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Sezione Pretrattamento-->

<div *ngIf="this.paramId == 2">
  <div class="row">
    <div class="col-sm">
      <div class="card shadow cardcss">
        <div class="container-fluid">
          <div class="card cardcss">
            <div class="row">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md">
                    <p class="card-text">PH</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h4 class="card-text">
                      <span class="badge badge-success">Valore</span>
                    </h4>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card cardcss">
                <google-chart [data]="trendSummaryChart"></google-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card shadow cardcss">
        <div class="container-fluid">
          <div class="card cardcss">
            <div class="row">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md">
                    <p class="card-text">PH</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h4 class="card-text">
                      <span class="badge badge-success">Valore</span>
                    </h4>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card cardcss">
                <google-chart [data]="trendSummaryChart"></google-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card shadow cardcss">
        <div class="container-fluid">
          <div class="card cardcss">
            <div class="row">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md">
                    <p class="card-text">PH</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h4 class="card-text">
                      <span class="badge badge-success">Valore</span>
                    </h4>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card cardcss">
                <google-chart [data]="trendSummaryChart"></google-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Sezione Stoccaggio-->
<div *ngIf="this.paramId == 3">
  <div class="card shadow cardcss">
    <h5 class="card-header">Impilatore
    </h5>
    <div class="row">
      <div class="col-sm">
        <div class="container-fluid">
          <div class="card cardcss">
            <div class="row">
              <div class="col">
                <app-pie-chart></app-pie-chart>
              </div>
              <div class="col">
                <div class="card cardcss">
                  <h5 class="card-header">Media Consumo Elettrico</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card cardcss">
                  <h5 class="card-header">Uptime</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="container-fluid">
          <div class="card cardcss">
            <div class="row">
              <div class="col">
                <app-pie-chart></app-pie-chart>
              </div>
              <div class="col">
                <div class="card cardcss">
                  <h5 class="card-header">Media Consumo Elettrico</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card cardcss">
                  <h5 class="card-header">Uptime</h5>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title"></p>
                      <div class="row">
                        <div class="col">
                          <h4 class="card-text">
                            <span class="badge badge-success">Valore</span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
