<style>
  img {
    width: 250px;
    height: 250px;
  }
</style>
<div class="jumbotron shadow ">
  <h1>About</h1>
  <hr>
  <p>Those aliens over here are our developer</p>
</div>
<div class="row">
  <div class="col" style="text-align: center">
    <img class="rounded-circle shadow "
         src="http://www.iconninja.com/files/631/995/808/user-person-suit-avatar-male-businessman-icon.svg"
         style="background: #aaa900;">
    <h3>Alessandro Bravo</h3>
  </div>
  <div class="col" style="text-align: center;">
    <img class="rounded-circle shadow "
         src="http://www.iconninja.com/files/627/232/1000/male-person-geek-man-avatar-user-icon.svg"
         style="background: #aa0200;">
    <h3>Simone Dal Mas</h3>

    <img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="height: 10%; width: 10%"> <b><a
    href="https://www.github.com/simone98dm"> simone98dm</a> </b>
  </div>
  <div class="col" style="text-align: center">
    <img class="rounded-circle shadow "
         src="http://www.iconninja.com/files/1013/448/865/man-user-person-male-profile-avatar-icon.svg"
         style="background: #00aa06;">
    <h3>Andrea Salata</h3>
    <img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="height: 10%; width: 10%"> <b><a
    href="https://github.com/salatandre"> salatandre</a></b>

  </div>
  <div class="col" style="text-align: center">
    <img class="rounded-circle shadow "
         src="http://www.iconninja.com/files/441/244/946/male-businessman-avatar-man-suit-user-icon.svg"
         style="background: #0079aa;">
    <h3>Andrea Babuin</h3>
    <img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="height: 10%; width: 10%"><b><a
    href="https://github.com/anbabuin"> anbabuin</a> </b>

  </div>
  <div class="col" style="text-align: center">
    <img class="rounded-circle shadow "
         src="http://www.iconninja.com/files/792/280/52/glasses-person-user-male-man-avatar-icon.svg"
         style="background: #aa0594;">
    <h3>Sebastiano Baldin</h3>
    <img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="height: 10%; width: 10%"> <b><a
    href="https://github.com/sebejbaldin"> sebejbaldin</a> </b>

  </div>
</div>
