<app-navbar></app-navbar>
<div class="wrapper">
  <nav id="sidebar">
    <app-sidebar></app-sidebar>
  </nav>
  <div id="content">
    <style>
      img {
        border-radius: 50%;
        width: 230px;
        height: 230px;
      }
    </style>

    <div class="container-fluid">
      <div class="jumbotron">
        <h1>About</h1>
        <hr>
        <p>Those aliens over here are our developer</p>
      </div>
      <!-- summary cards -->
      <div class="row">
        <div class="col">
          <img src="http://www.iconninja.com/files/631/995/808/user-person-suit-avatar-male-businessman-icon.svg"
               style="background: #aaa900;">
        </div>
        <div class="col">
          <img src="http://www.iconninja.com/files/627/232/1000/male-person-geek-man-avatar-user-icon.svg"
               style="background: #aa0200;">
        </div>
        <div class="col">
          <img src="http://www.iconninja.com/files/1013/448/865/man-user-person-male-profile-avatar-icon.svg"
               style="background: #00aa06;">
        </div>
        <div class="col">
          <img src="http://www.iconninja.com/files/441/244/946/male-businessman-avatar-man-suit-user-icon.svg"
               style="background: #0079aa;">
        </div>
        <div class="col">
          <img src="http://www.iconninja.com/files/792/280/52/glasses-person-user-male-man-avatar-icon.svg"
               style="background: #aa0594;">
        </div>
      </div>
    </div>
  </div>
</div>
