<nav class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #293949;">
  <a class="navbar-brand" style="color: white"><h4>Angus</h4></a>

    <ul class="navbar-nav mr-auto">
    </ul>

  <a routerLink="/dashboard"  class="btn">
    <i class="material-icons" style="color: white">
      home
    </i>
  </a>

    <a routerLink="/dashboard"  class="btn">
      <i class="material-icons" style="color: green" (click)="refresh()">
        autorenew
      </i>
    </a>

  <a data-toggle="modal" data-target="#logoutmodal" class="btn">
    <i class="material-icons" style="color: red">
      settings_power
    </i>
  </a>

</nav>

<app-modal-logout></app-modal-logout>
