<div class="card card-container">
  <img id="profile-img" class="profile-img-card"
       src="https://cdn.shopify.com/s/files/1/0537/1501/products/Pied_Piper_Square_1024x1024.jpg"/>
  <p id="profile-name" class="profile-name-card"></p>
  <div [class]="style">
    {{error}}
  </div>
  <form class="form-signin" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <span id="reauth-email" class="reauth-email"></span>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input type="email"
             id="username"
             name="username"
             class="form-control"
             placeholder="Email address"
             [(ngModel)]="model.username"
             #username="ngModel"
             required
             autofocus>
      <div *ngIf="f.submitted && !username.valid" class="help-block"
           style="color:red; font-size: 14px; text-align: center">Username is required
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input type="password"
             id="password"
             name="password"
             class="form-control"
             placeholder="Password"
             [(ngModel)]="model.password"
             #password="ngModel" required>
      <div *ngIf="f.submitted && !password.valid" class="help-block"
           style="color:red; font-size: 14px; text-align: center">Password is required
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
      <!--<img *ngIf="loading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->
      <app-progress-mask [showProgress]="loading"></app-progress-mask>


    </div>
  </form><!-- /form -->
</div><!-- /card-container -->

