/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Product Sans', sans-serif;
  /*background-image: linear-gradient(to bottom, #ffffff, #fdfdfd, #fbfcfb, #fafafa, #f8f8f8);*/

}

.t-bold {
  font-weight: 700;
}

.t-medium {
  font-weight: 500;
}

.t-regular {
  font-weight: 400;
}

.material-icons {
  vertical-align: middle;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: #fafafa;
  background-size: cover;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #293949;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #009688;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #B2DFDB;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar li a {
  color: white;
}

#sidebar ul li a:hover {
  color: #384f64;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #384f64;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #293949;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}
